@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@page "/cliente/crearcliente"
<h3>FormularioCliente</h3>
<div class="row">
    <div class="col-6">

        <FormularioEditarCrear OnValidSubmit="@CrearCliente"></FormularioEditarCrear>
    </div>
    <div class="col-6">
       

    </div>
</div>


@code {

    public Cliente cliente = new Cliente();
   
    public async Task CrearCliente()
    {
        var httpResponse = await repositorio.Post("api/clientes", cliente);

        if (httpResponse.Error)
        {
            var body = httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
        }
        else
        {
            navigationManager.NavigateTo("/");
        }
    }


}
