@page "/"

@inject IRepositorio repositorio

<h3>ListadoClientes</h3>

<a href="cliente/crearcliente">Crear cliente</a>

@if (Clientes.Count == 0)
{
    <p>No hay peliculas para mostrar</p>
}
else if (Clientes == null)
{
    <p>No hay peliculas para mostrar</p>
}
else
{
    @foreach (var item in Clientes)
    {

        <TarjetaCliente cliente="item"></TarjetaCliente>

    }
}



@code {
    public List<Cliente> Clientes = new List<Cliente>();

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<List<Cliente>>("api/clientes");
        Clientes = httpResponse.Response;
    }




}

