
<div class="card m-4 col-5 " >
    <div class="row g-0">
        <div class="col-md-4">
            @if (String.IsNullOrEmpty(cliente.Foto))
            {
                <img src="..." alt="...">
            }
            else
            {
                <img style="width:100%;height:100%" src="@cliente.Foto" alt="...">
            }

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@cliente.Nombre</h5>
                <p class="card-text"><strong>Celular:</strong> @cliente.Celular</p>
                <p class="card-text"><strong>Dirección:</strong> @cliente.Direccion</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Cliente cliente { get; set; }
}
